# Directories
.venv/
.vscode/
.claude/
.ruff_cache/
.mypy_cache/
.pytest_cache
.coverage
__pycache__
frontend/static/images/
frontend/static/videos/
frontend/static/fonts/
utility/

# Specific files
.env
cookies.txt
*-secret.yaml
*.cookies

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/*.tfvars.local
**/override.tf
**/override.tf.json
