.venv/
.vagrant/
.ruff_cache/
.mypy_cache/
.jenkins_data/
.pytest_cache
.coverage
__pycache__
frontend/static/images/
frontend/static/videos/
frontend/static/fonts/
utility/
*-secret.yaml
.env
cookies.txt
*.cookies
