apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: dev
  labels:
    app: myapp
    component: postgres
type: Opaque
data:
  # Base64 encoded values (echo -n 'value' | base64)
  POSTGRES_DB: xyz
  POSTGRES_USER: xyz
  POSTGRES_PASSWORD: xyz
